---
layout: home
main-title: 'Trina is Artsy:'
subtitle: The Coffee Chronicles
description: " ✂ ✏ ☕ "
---

<link rel="stylesheet" href="{{ site.baseurl }}/css/home.css" media="screen" /> 

<script>
  $('body').addClass('fullscreen')
</script>

	<section id="content" role="main">
		<div class="wrapper">

			<!-- WYSIWYG -->

		<div class="position-absolute">
				<h2 class="big no-margin"><strong>{{ page.main-title }}</strong></h2>
				<h2>{{ page.subtitle }}</h2> 
                     <div class="entry-summary">
							<p>{{ page.description }}</p>
						</div><br />
			</div>
			
			<div class="gallery fullscreen-gallery kenburns-gallery">

				<canvas id="kenburns"></canvas>
				
        {% for image in site.static_files %}
          {% if image.path contains 'art/' %}	
                    <figure class="gallery-item">
                      <header class='gallery-icon'>
            
                      <a href="{{ image.path }}">
                      <img src="{{ image.path }}"></a>
                        
                      </header>	
                    </figure>
          {% endif %}
        {% endfor %}

				</div>
			<!-- END WYSIWYG -->
			
	
		</div><!-- END .wrapper -->
		
	</section>

<div id="footer" role="contentinfo">
		<ul class="soc-icons">

                 {% if site.facebook_username %}
			<li>
   <a href="https://facebook.com/{{ site.facebook_username }}" style="
color:#dddddd; target="_blank" title="Facebook">
                       <i class="fa fa-facebook"></i>
                     </span>
</a></li>
    {% endif %}
 {% if site.twitter_username %}
			<li>
   <a href="https://twitter.com/{{ site.twitter_username }}" style="
color:#dddddd; target="_blank" title="Twitter">
                       <i class="fa fa-twitter"></i>
                     </span>
</a></li>
    {% endif %}
                {% if site.instagram_username %}
			<li>
   <a href="https://instagram.com/{{ site.instagram_username }}" style="
color:#dddddd; target="_blank" title="Instagram">
                       <i class="fa fa-instagram"></i>
                     </span>
</a></li>
    {% endif %}
                    {% if site.flickr_username %}
						<li>
   <a href="https://flickr.com/photos/{{ site.flickr_username }}" style="
color:#dddddd; target="_blank" title="Flickr">
              <i class="fa fa-flickr"></i>
                     </span>
 </a></li>	
     {% endif %}
                    {% if site.deviantart_username %}
			<li>
   <a href="http://{{ site.deviantart_username }}.deviantart.com" style="
color:#dddddd; target="_blank" title="DeviantArt">
<i class="fa fa-deviantart"></i> </span>
</a></li>	
    {% endif %}
                    {% if site.github_username %}
                <li>
   <a href="https://github.com/{{ site.github_username }}" style="
color:#dddddd; target="_blank" title="Github">
              <i class="fa fa-github"></i>
                     </span>
                   {% endif %}
<li>
    <a href="mailto:{{ site.email }}" style="
color:#dddddd; target="_blank" title="Email">
              <i class="fa fa-envelope-o"></i></span>
          </a> </li>
	
					
		</ul>	
	</div>

  
<!-- jQuery -->

<script src="{{ site.baseurl }}/js/retina.min.js"></script> 
<!-- include mousewheel plugins -->
<script src="{{ site.baseurl }}/js/jquery.mousewheel.min.js"></script>
<!-- include gallery cycle plugin -->
<script src="{{ site.baseurl }}/js/jquery.cycle.min.js"></script>
<!-- include kenburns plugins -->
<script src="{{ site.baseurl }}/js/kenburns.min.js"></script>
<!-- include svg line drawing plugin -->
<script src="{{ site.baseurl }}/js/jquery.lazylinepainter.min.js"></script>
<!-- include custom script -->
<script src="{{ site.baseurl }}/js/scripts.js"></script>