---
title: Local Services
layout: page
description: Hire a professional artist for your next project or workshop needs.
category: services
active: services
header-img: media/servicesbanner.jpg
---

<div class="owl-gallery">
{% include slider.html sliderpath="media/services-gallery" %}
</div>

<br clear="all" />


{% include services-one.html group="top" %}
<br clear="all" />


<br clear="all" />
{% include services-three.html group="three" %}

<br clear="all" />
<br clear="all" />
<br clear="all" />
{% include services-testimonials.html group="testimonials" %}

<br clear="all" />

<h2 class="center">Available Services</h2>
{% include services-two.html group="bottom" %}
<br clear="all" />    
<br clear="all" />



<div id="header-booknow">
    {% include paypal/booknow.html %}
</div>
