
<link rel="stylesheet" href="/js/owlcarousel/dist/assets/owl.carousel.min.css" />
<script src="/js/owlcarousel/dist/owl.carousel.min.js"></script>

<div class="owl-wrapper">
<div class="owl-carousel owl-theme">
        {% for image in site.static_files %}
            {% if image.path contains include.sliderpath %}	
                <img class="owl-lazy" data-src="{{ image.path }}" data-src-retina="{{ image.path }}" alt="">
            {% endif %}
        {% endfor %}

</div>

</div>
<script>
    $('.owl-carousel').owlCarousel({
        items:1,
        lazyLoad:true,
        loop:true,
        margin:10,
        autoplay:true,
        autoplayTimeout:8000,
        autoplayHoverPause:true
    });
</script>

<style>
    .owl-dots {
        display: none;
    }
</style>