.newsletter {
    background-color: $footercolor;
    color: white;

    #tlemail {
        background-color: $inputbackground;
    }  

    #submit {
    background-color: $inputbackground;
    color: $textdark!important;
    }
  }