.newsletter {
    background-color: $footercolor;
    color: white;
  }
  
  .newsletter #tlemail {
    background-color: $inputbackground;
  }  
  
  .newsletter #submit {
    background-color: $inputbackground;
    color: $textdark!important;
  }
  