$headercolor: #725377;
$footercolor: $headercolor; 

$texthighlight: #c39aed;
$textlink: #d3a6da;
$textcolor: #9c869c;
$textdark: black;


$inputbackground: #e6d0e6;

$navactive: #eeb7f1; 
$navhover: #ae79d8;